.Add {
  margin: 30px;
  background-color: gray;
  height: 100%;
  &__lists  {
    h1 {
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      padding: .75em 0;
      border-bottom: 1px solid #ccc;
    }
    &__list {
      color: red;
      margin: 20px;
      width: 20%;
      &__group{
        margin: 40px;
        transition: 0.2s;
        &:hover {
          transform: translateY(-5px);
          cursor: pointer;
        }
      }
    }
  }
}

.input-default {
  margin: 20px;
  padding: 10px;
}