.Table {
  margin: 20px;
  height: 100%;
  &__title {
    color: #333;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
  }
  &__lists {
    padding: 40px;
    &__list {
      display: flex;
      padding: 30px;
      &__title {
        width: 70%;
        margin: 20px;
        margin-right: 30px;
        font-size: 25px;
        position: relative;
        display: inline-block;
        color: #1b1b1b;
        text-decoration: none;
        a {
          text-decoration: none;
          color: #333333;
        }
        &:hover {
          cursor: pointer;
          text-decoration: none;
        }
        &:after { //タイトルにカーソルを当てた時の動き
          position: absolute;
          bottom: -8px;
          left: 0;
          content: '';
          width: 100%;
          height: 2px;
          background: #333;
          opacity: 0;
          visibility: hidden;
          transition: .3s;
        }
        &:hover::after {
          bottom: -4px;
          opacity: 2;
          visibility: visible;
        }
      }
      &__btn {
        padding-left: 30px;
        a {
          text-decoration: none;
          color:red;
          &:hover { //hoverした時に下線の表示
            border-bottom: double #333;
          }
        }
      }
    }
  }
}