.Main
  .Main__header
    .Main__header__nav
      %h1 エンジニアのための本
      %ul
        %li
        = link_to "#", class: "category" do
          フロントエンド
        %li
        = link_to "#", class: "category" do
          バックエンド
        %li
        = link_to "#", class: "category" do
          その他
          
  .Main__body
    .Main__body__left
      .Main__body__left__top
        フロントエンド
      .Main__body__left__text
        フロントエンドとは、WebサービスやWebアプリケーションで直接ユーザーの目に触れる部分のことです。
        WebサイトやWebアプリケーションなどでユーザーが文字を入力したり、
        ボタンをクリックしたりする部分などを実装できます。
        %br フロントエンドの開発で利用する言語は主に、
        HTMLやCSS,JavaScriptです。

    .Main__body__right
      .Main__body__right__top
        バックエンド
      .Main__body__right__text
        サーバーサイドやデータベースのシステムなど、ユーザーの目に見えない部分のことです。ユーザーが入力した内容などのデータ処理やデータベースへの保存、検索結果の出力いったことを行います。
        %br バックエンドの開発で利用する言語には、JavaやJavaScript、PHP、Python、Rubyといったプログラミング言語があります。

.Content
  test

