.Main
  .Main__header
    .Main__header__nav
      %h1 エンジニアのための本
      %ul
        %li
        = link_to "#", class: "category" do
          フロントエンド
        %li
        = link_to "#", class: "category" do
          バックエンド
        %li
        = link_to "#", class: "category" do
          その他
          
  .Main__body
    .Main__body__left
      test
    .Main__body__right
      test
      

