.Main {
  background-image: url(book1.jpg);
  &__header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__nav h1 {
      text-align: center;
      padding: 1em;
      border: 3px solid rgb(255,255,255);
      border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;  
      color: #fff;
      font-size: 30px;
      margin-top: 10px;
    }
    &__nav ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
    }
  }
  &__body {
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    &__left {
      margin: 40px;
      width: 50%;
      &__top {
        color: #fff;
      }
      &__text {
        color: #fff;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 5px;
        text-indent: 1em;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

.Content {
  margin: 30px;
  display: flex;
  justify-content: center;
  &__like {
    color: red;
    &__end {
      color: blue;
      &__ul {
        display: flex;
      }
      li {
        margin: 30px;
      }
    }
  }

}


.category {
  color: #fff;
}

.img {
  height: 300px;
}


