.Main {
  background-image: url(book1.jpg);
  &__header{
    background-color: rgba(241, 241, 214, 0.856);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__nav h1 {
      text-align: center;
      padding: 1em;
      border: 3px solid rgb(117, 13, 13);
      border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;  
      color: gray;
      font-size: 30px;
      margin-top: 10px;
    }
    &__nav ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
    }
  }
  &__body {
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(241, 241, 214, 0.856);
    &__left {
      margin: 40px;
      width: 50%;
      &__top {
        color: red;
      }
      &__text {
        color: royalblue;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 5px;
        text-indent: 1em;
      }
    }
    &__right {
      margin: 40px;
      width: 50%;
      &__top {
        color: red;
      }
      &__text {
        color: royalblue;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 5px;
        text-indent: 1em;
      }
    }
  }
}

