.Table
  .Table__title
    = "「HTML」の登録一覧"
  .Table__lists
    .Table__lists__list
      - @cards.each do |card|
        .Table__lists__list__title
          = card.title
        .Table__lists__list__btn
          = link_to "編集", edit_card_path(card.id), method: :get
        .Table__lists__list__btn
          = link_to "削除", card_path(card.id), method: :delete
